.App{
  background-color: black;
  color:white;
  font-family: sans-serif;
}

.container{
  width:80% !important;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}
.mainContainer{
  width:100%;
  background-color: #121212;
  
}
.downContainer{
  width:80% !important;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}
