.App{
  background-color: black;
  color:white;
  font-family: sans-serif;
}

.container{
  max-width:1286px !important;
  justify-content:space-between;
  align-items: center;
  margin: auto;
  padding:0px;
}
.mainContainer{
  width:100%;
  background-color: #121212;
  
}
.downContainer{
  max-width:1286px !important;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}
