@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }
}

.swiper-button-next,
.swiper-button-prev {
  @apply translate-x-0  border-white bg-black/30 border 2xl:visible xl:!visible !invisible rounded px-6 py-8 m-0 -translate-y-1/2;
}
.swiper-button-prev {
  @apply !left-0  ;
}
.swiper-button-next {
  @apply !right-0  ;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  @apply !text-xl !font-bold text-white  hover:!text-amber-400;
}
.w-96 {
  width: 53rem;
}  
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.class1 {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  display: block;
  width: 100%;
  height: 44px;  
  content: "";
}
.myclass{
  z-index: 999;
}
